@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{

    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

.padd-15{
    padding : 0 15px;
}
.shadow-dark{
    box-shadow: 0 0 20px rgba(46, 45, 77, 0.15);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: poppins;
}

.section{
    background:var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}
.hidden{
    display: none !important;
}
.main-content{
    padding-left: 270px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 20vh, auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background: var(--skin-color);
    display: inline-block;
    color: white;
    border-radius: 40px;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
}
.aside{
    width: 270px;
    position: fixed;
    background-color: var(--bg-black-100);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    padding: 30px;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    list-style: none;
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
}
.aside .logo a{
    color: var(--text-black-900);
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 700;
}
.aside .logo a span{
    font-family: "Clicker Script", cursive;
}

.aside .logo a::before{
    content: "";
    position: absolute;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: "";
    position: absolute;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before{
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after{
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: var(--text-black-900);
    padding: 5px 15px;
    border-bottom: 1px solid var(--bg-black-50);
}
.aside .nav li .active{
    color: var(--skin-color);
}

.aside .nav li a i{
    margin-right: 15px;
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
    position: relative;
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    text-align: center;
    padding: 0 15px;
    height: 413px;
}

.home-img::before{
    content: "";
    position: absolute;
    top: -35px;
    left: 30px;
    border-left: 10px solid var(--skin-color);
    border-top: 10px solid var(--skin-color);
    height: 60px;
    width: 60px;
}
.hire-me{
    margin-top: 20px;
}
.home-img::after{
    content: "";
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    height: 60px;
    width: 60px;
}

h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight:900;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}