@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{

    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

.padd-15{
    padding : 0 15px;
}
.shadow-dark{
    box-shadow: 0 0 20px rgba(46, 45, 77, 0.15);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: poppins;
}

.section{
    background:var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}
.hidden{
    display: none !important;
}
.main-content{
    padding-left: 270px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 20vh, auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background: var(--skin-color);
    display: inline-block;
    color: white;
    border-radius: 40px;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
}
.aside{
    width: 270px;
    position: fixed;
    background-color: var(--bg-black-100);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    padding: 30px;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    align-items: center;
    justify-content: center;
}

